.contacts-card {
  width: 100%;
  padding: 40px;
  border: 1px solid $color-primary;
  border-radius: 40px;
  @include media(max, 767) {
    padding: 30px;
  }

  &__title {
    margin-bottom: 10px;
    font-size: 24px;
    @include media(max, 767) {
      margin-bottom: 5px;
      font-size: 20px;
    }
  }

  &__description {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 20px;
    @include media(max, 767) {
      margin-bottom: 20px;
      font-size: 18px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include media(max, 767) {
      gap: 10px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__values {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  &__text {
    font-size: 20px;
    @include media(max, 767) {
      font-size: 18px;
    }
  }

  &__icon {
    flex-shrink: 0;
    color: $color-primary;
  }
}
