extends ../../template/template.pug

block mainwrapper
  .page.page-blog-hub
    section.section.section--main
      +banner({
        media: {
          type: 'image',
          src: 'img/image-content/banner-blog-articles.jpg'
        },
        title: 'evofinder’s Scientific Articles',
        subtitle: 'Peer-reviewed publications and academic studies evaluating Evofinder® technology in forensic ballistics.',
      })
    section.section.blog
      .container
        .wrapper.blog__wrapper
          +CardBlog({
            img: 'img/image-content/blog-1.jpg',
            title: 'Kaifeng Zhang, Yaping Luo, Peng Zhou',
            text: 'Reproducibility of characteristic marks on fired cartridge cases from five Chinese Norinco QSZ-92 9 × 19 mm pistols Reproducibility of characteristic marks on fired cartridge cases from five Chinese Norinco QSZ-92 9 × 19 mm pistols',
            link: '/blog-detail.html'
          })
          +CardBlog({
            img: 'img/image-content/blog-1.jpg',
            title: 'Kaifeng Zhang, Yaping Luo, Peng Zhou',
            text: 'Reproducibility of characteristic marks on fired cartridge cases from five Chinese Norinco QSZ-92 9 × 19 mm pistols Reproducibility of characteristic marks on fired cartridge cases from five Chinese Norinco QSZ-92 9 × 19 mm pistols',
            link: '/blog-detail.html'
          })
          +CardBlog({
            img: 'img/image-content/blog-1.jpg',
            title: 'Kaifeng Zhang, Yaping Luo, Peng Zhou',
            text: 'Reproducibility of characteristic marks on fired cartridge cases from five Chinese Norinco QSZ-92 9 × 19 mm pistols Reproducibility of characteristic marks on fired cartridge cases from five Chinese Norinco QSZ-92 9 × 19 mm pistols',
            link: '/blog-detail.html'
          })
          +CardBlog({
            img: 'img/image-content/blog-1.jpg',
            title: 'Kaifeng Zhang, Yaping Luo, Peng Zhou',
            text: 'Reproducibility of characteristic marks on fired cartridge cases from five Chinese Norinco QSZ-92 9 × 19 mm pistols Reproducibility of characteristic marks on fired cartridge cases from five Chinese Norinco QSZ-92 9 × 19 mm pistols',
            link: '/blog-detail.html'
          })
          +CardBlog({
            img: 'img/image-content/blog-1.jpg',
            title: 'Kaifeng Zhang, Yaping Luo, Peng Zhou',
            text: 'Reproducibility of characteristic marks on fired cartridge cases from five Chinese Norinco QSZ-92 9 × 19 mm pistols Reproducibility of characteristic marks on fired cartridge cases from five Chinese Norinco QSZ-92 9 × 19 mm pistols',
            link: '/blog-detail.html'
          })
          +CardBlog({
            img: 'img/image-content/blog-1.jpg',
            title: 'Kaifeng Zhang, Yaping Luo, Peng Zhou',
            text: 'Reproducibility of characteristic marks on fired cartridge cases from five Chinese Norinco QSZ-92 9 × 19 mm pistols Reproducibility of characteristic marks on fired cartridge cases from five Chinese Norinco QSZ-92 9 × 19 mm pistols',
            link: '/blog-detail.html'
          })
          +CardBlog({
            img: 'img/image-content/blog-1.jpg',
            title: 'Kaifeng Zhang, Yaping Luo, Peng Zhou',
            text: 'Reproducibility of characteristic marks on fired cartridge cases from five Chinese Norinco QSZ-92 9 × 19 mm pistols Reproducibility of characteristic marks on fired cartridge cases from five Chinese Norinco QSZ-92 9 × 19 mm pistols',
            link: '/blog-detail.html'
          })
          +CardBlog({
            img: 'img/image-content/blog-1.jpg',
            title: 'Kaifeng Zhang, Yaping Luo, Peng Zhou',
            text: 'Reproducibility of characteristic marks on fired cartridge cases from five Chinese Norinco QSZ-92 9 × 19 mm pistols Reproducibility of characteristic marks on fired cartridge cases from five Chinese Norinco QSZ-92 9 × 19 mm pistols',
            link: '/blog-detail.html'
          })
          +CardBlog({
            img: 'img/image-content/blog-1.jpg',
            title: 'Kaifeng Zhang, Yaping Luo, Peng Zhou',
            text: 'Reproducibility of characteristic marks on fired cartridge cases from five Chinese Norinco QSZ-92 9 × 19 mm pistols Reproducibility of characteristic marks on fired cartridge cases from five Chinese Norinco QSZ-92 9 × 19 mm pistols',
            link: '/blog-detail.html'
          })
