// colors
$color-black: #222629;
$color-white: #FFFFFF;
$color-grey: #BBBBBB;
$color-grey-light: #d4d4d4;
$color-grey-dark: #A9A9A9;
$color-card-bg: #F5F5F5;

$color-primary: #77a930;
$color-primary-dark: #618930;

$color-error: #FF0000;

// font-family

$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Unbounded', sans-serif;

// transition

$transition: .3s ease;
$transition-long: .7s ease;

// sizes

$header-height: 70px;
$header-height-mob: 72px;
